//@import 'settings';
//@import 'foundation';


@import url('https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,800');

body {
    font-family: 'Muli', sans-serif;
}

.mobile-encloser {
    max-width: 660px;
    margin: auto;
    text-align: center;
    //padding: 10px 8%;
    width: 96%;
    padding: 40px 0;
    .form-login {
        max-width: 500px;
        margin: 20px auto;
    }
}


.sam-intro {
    margin: 10px auto 40px auto;
    clear: both;
    width: 105px;
    img {
        width: 100%;
    }
}

.top-bar {
    background-color: #fff !important;
    border-bottom: solid 1px #ccc;
    ul {
        background-color: #fff !important;
    }
    .button-info {
        width: 25px;
        img {
            width: 25px;
        }
    }
}

h2.screen-confirm {
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
}

.qr-container {
    padding: 0 4%;
    width: 100%;
    clear: both;
    #qrcode {
        canvas {
            img {
                padding-bottom: 20px;
                max-width: 380px;
                clear: both;
                width: 86%;
            }
        }
    }

    .qr-timer {
        font-size: 0.9em;
        padding-top: 12px;
        span {
            color: $primary-color;
        }
    }
}


.user-info-footer {
    border-top: solid 1px #ccc;
    padding: 20px 0;
    ul.user-details {
        list-style-type: none;
        list-style: none;
        h5 {
            text-transform: uppercase;
            font-weight: 800;
            font-size: 1.2em;
        }
    }
    .user-info-inside {
        padding: 0 10%;
        margin: 0 auto 20px auto;
    }
    .user-icon {
        img {
            width: 100%;
        }
    }
}


.unlock-message {
    h2 {
        color: $primary-color;
        font-weight: 800;
        font-size: 2em;
    }
}

.unlock-container {
    margin: auto;
    width: 80%;
    clear: both;
    img {
        width: 100%;
        margin-top: 20px;
        max-width: 240px;
        margin-bottom: 40px;
    }
}

// Custom Block ***


.people-you-might-know {
  background-color: #fefefe;
  padding: 1rem 0 0;
  border: 1px solid #cacaca;
  //box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
    margin: 50px auto;
    width: 600px;
}

.people-you-might-know .add-people-header {
  padding: 0 0.9375rem;
  border-bottom: 0.0625rem solid #cacaca;
}

.people-you-might-know .add-people-header .header-title {
  font-weight: bold;
}

.people-you-might-know .add-people-section {
  margin: 1rem 0 0;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid #cacaca;
    padding: 19px 30px;
}

.people-you-might-know .add-people-section .about-people {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.people-you-might-know .add-people-section .about-people .about-people-avatar {
  padding-right: 0.5rem;
  padding-left: 0;
}

.people-you-might-know .add-people-section .about-people .about-people-avatar .avatar-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.0625rem solid #cacaca;
}

.people-you-might-know .add-people-section .about-people .about-people-author {
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.people-you-might-know .add-people-section .about-people .about-people-author .author-name {
  color: #0a0a0a;
  margin: 0.375rem 0 0;
}

.people-you-might-know .add-people-section .about-people .about-people-author .author-location,
.people-you-might-know .add-people-section .about-people .about-people-author .author-mutual {
  color: #8a8a8a;
  margin-bottom: 0;
  font-size: 0.85em;
}

.people-you-might-know .add-people-section .add-friend {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 39.9375em) {
  .people-you-might-know .add-people-section .add-friend {
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.people-you-might-know .add-people-section .add-friend .add-friend-action {
  margin-top: 0.7rem;
}

.people-you-might-know .view-more-people {
  margin: .7rem 0;
}

.people-you-might-know .view-more-people .view-more-text {
  margin-bottom: 0;
  text-align: center;
}

.people-you-might-know .view-more-people .view-more-text .view-more-link {
  color: #1779ba;
}

.people-you-might-know .view-more-people .view-more-text .view-more-link:hover, .people-you-might-know .view-more-people .view-more-text .view-more-link:focus {
  text-decoration: underline;
}



h1.dash-title {
font-size: 23px;
    font-weight: 800;
    padding-top: 2px;
}
